CREATE TABLE stories (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  media_url TEXT NOT NULL,
  media_type TEXT NOT NULL, -- 'image' or 'video'
  caption TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  expires_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() + INTERVAL '24 hours'
);

ALTER TABLE stories ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Stories
are
viewable
by
everyone.\ ON stories FOR SELECT USING (true);
CREATE POLICY \Users
can
insert
their
own
stories.\ ON stories FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY \Users
can
delete
their
own
stories.\ ON stories FOR DELETE USING (auth.uid() = user_id);

-- Create a bucket for stories
INSERT INTO storage.buckets (id, name, public) VALUES ('stories', 'stories', true) ON CONFLICT (id) DO NOTHING;

CREATE POLICY \Stories
are
public\ ON storage.objects FOR SELECT USING (bucket_id = 'stories');
CREATE POLICY \Users
can
upload
stories\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'stories' AND auth.uid()::text = (storage.foldername(name))[1]);
CREATE POLICY \Users
can
update
their
own
stories\ ON storage.objects FOR UPDATE USING (bucket_id = 'stories' AND auth.uid()::text = (storage.foldername(name))[1]);
CREATE POLICY \Users
can
delete
their
own
stories\ ON storage.objects FOR DELETE USING (bucket_id = 'stories' AND auth.uid()::text = (storage.foldername(name))[1]);


